.titulo{
    text-align: center;
    contain: none;
    object-position: 0%;
    padding: 20px;
}

.body{
    contain: content;
    column-width: auto;
    background-color: brown;
    
}

.suscripcion{
    color: blue;
    align-items: center;
}